body {
    background-color: rgb(152, 216, 216);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.logo1 {
    text-align: center;
    padding-top: 15px;
}
.logo2 {
    text-align: center;
    padding-top: 5px;
}
.nav {
    background: #eee;
    max-width: 890px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border: 3px #eee solid;
}
.nav-item {
    margin-bottom: 20px;
    color: #000;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
}
.nav-item:last-child {
    margin-right: 0;
}
.container {
    /* position: fixed; */
    display: block;
    text-align: center;
}
.center {
    /* position: fixed; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    opacity: 0.5; /*Чтобы видно было задний фон */
}
.center2 {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -375px;   
    opacity: 0.4; /*Чтобы видно было задний фон */
    /* -webkit-filter: blur(5px); Применяет эффект размытия */
}
/* .center3 {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
} */
/* .center4 {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}    */
.right {
    opacity: 0.9;
    margin-top: -200px;
    margin-left: 400px;
}
.left {
    opacity: 0.9;
    margin-left: -400px;
    margin-top: -25px;
}
@media (max-width: 900px) {
    .nav {
        display: block;
        max-width: 100px;
        font-size: 10px;
        padding: 1px;
        text-align: center;
    }
    .nav-item {
        display: block;
        max-width: 650px;
        font-size: 15px;
        text-align: center;
        margin-right: 0;
    }
    .container {
        display: block;
        text-align: center;
    }
 }

