* {
    box-sizing: border-box;
}  
body {
    margin: 0;
    font-family: sans-serif, cursive;
    height: 1000px;
    background-color: rgb(152, 216, 216);
    background-image: radial-gradient(ellipse 300px 200px at top center, #fff, rgb(152, 216, 216), rgb(152, 216, 216));
    background-repeat: no-repeat;
}
.logo1 {
    text-align: center;
    padding-top: 15px;
}
.logo2 {
    text-align: center;
    padding-top: 5px;
}
.nav {
    background: #fff;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border: 3px #fff solid;
}
.nav-item {
    margin-bottom: 20px;
    color: #000;
    margin-right: 100px;
    font-size: 20px;
    text-decoration: none;
}
/* Изменение цвета при наведении */
.nav-item:hover {
    background-color: #000;
    color: #fff;
}
.nav-item:last-child {
    margin-right: 0;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* .text {
  color: #f7e5e5;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */
/* .numbertext {
  color: #0a0a0a;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; 
} */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
/* .active, .dot:hover {
    background-color: #717171;
} */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: -35px;
}
/* Создаем четыре одинаковых столбца, которые плавают рядом друг с другом */
.column {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    margin: 18px;
    line-height: 15px;
    font-size: 30px;
}
.further {
    text-decoration: underline;
    font-size: 12px;
    float: right;
}
h1 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
p {
    font-size: 11px;
    text-indent: 60px;
}
.fa {
  padding: 10px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 15px 5px;
  border-radius: 25%;
}
.fa:hover {
    opacity: 0.5;
}
h2 {
    font-weight: 300;
    font-size: 15px;
    color: #000;
}
.footer {
    text-align: left;
    background: #fff;
    margin-left: 450px;
    margin-right: 450px;
}
.media {
    text-align: right;
}
/* На экранах шириной 1000px или меньше */
@media screen and (max-width: 1000px) {
.nav {
        display: block;
        max-width: 100px;
        padding: -5px;
        text-align: center;
    }
.nav-item {
        display: block;
        max-width: 650px;
        font-size: 15px;
        text-align: center;
        margin-right: 0;
    }
    .footer {
        text-align: left;
        background: #fff;
        margin-left: 150px;
        margin-right: 150px;
    }
    .media {
        text-align: right;
    }
    h2 {
        font-weight: 300;
        font-size: 10px;
        color: #000;
    }
}